/* CSS styles */
h1 {
    font-family: Impact, sans-serif;
    color: #CE5937;
    }
    P{
      color: brown
    }
    /* If we Specify the id then in the css format we have start it with #idname
     */
    #article1{ 
      background-color: green;
    }
    /* If we are using the class then we have to specify .classname
     */
    .paraClass{
      background-color: yellow;
    }
    /* by using the below format we can grouping format i.e., here we are 
     setting width size 500px fro both paragraph and article */
    p,article{
      width :500px;
    }
    /* This Format is useful that the paragraph and article have the same 
       names and we want specify the text align center for paragraph only 
       then we have to use this format */
    p.paraClass{
      text-align:center;
    }
        